$font-family: Helvetica, sans-serif;
$background-color: #2c2a2d;
$grid-layout-color: black;
$grid-layout-secondary-color: #f0db4f;
$light-color: white;
$cut-borders: 3.5px;

// animation bug fix with .js (on refresh)
.preload * {
  animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
    padding 0s, margin 0s !important;
}

@mixin margin-width($width) {
  width: $width;
  margin: 3px auto;
}

@mixin flex-options1() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-options2($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flags-btn-setup() {
  background-color: $light-color;
  border-radius: $cut-borders;
  margin: 0 1px 0 1px;
}
